@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-brand-black;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
